/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles below */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F7F7FF;
}

main {
  flex: 1 0 auto;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}