@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles below */

html {
  min-height: 100vh;
  /* background: linear-gradient(-45deg, #7EB2DD, #F1C8DB, #E9E3B4, #AABD8C) fixed; */
  background-size: 400% 400%;
  /* animation: gradient-animation 15s ease infinite; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-transparent text-foreground;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.custom-prose {
  max-width: 80ch; /* Adjust this as needed for content width */
  margin: 0 auto;
  padding: 1rem; /* Adjust for spacing */
}